.footer {
  position: relative;
  padding-top: 50px;
  background-color: $grey-background;

  &__menu {
    padding: 0;
    margin: 0;
    margin-left: 48px;
    list-style: none;
    display: flex;
    max-width: 25%;
    justify-content: space-between;

    &__item {
      display: inline-block;
      margin-bottom: 8px;
      color: $black;
      text-decoration: none;

    }

    &__item:hover {
      text-decoration: underline;
    }
  }

  &__copyright {
    margin-bottom: 0;
    margin-left: 48px;
    margin-top: 30px;
    font-size: 13px;
    padding-bottom: 15px;
  }
}

.book {
  position: absolute;
  margin-bottom: 30px;
  bottom: 100%;
  left: 3%;
  width: 8%;
}

.dog {
  position: absolute;
  right: 3%;
  bottom: 5%;
}

@media (max-width: 600px) {
  .book {
    display: none;
  }

  .dog {
    width: 50%;
    bottom: 20%;
  }

  .footer__copyright {
    font-size: 10px;
  }

  .footer__menu__item {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .footer__menu {
    flex-direction: column;
  }
}