.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  //padding: 300px 0 200px;

  &__title {
    max-width: 437px;
    margin-bottom: 30px;
  }

  &__img {
    width: 50%;
  }
}

.link-sign-in {
  display: block;
  margin-top: 25px;
  font-size: 14px;
  color: $grey-text;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1000px) and (min-width: 750px) {
  .hero {

    &__img {
      width: 40%;
      margin-top: 15px;
    }

    &__title {
      font-size: 36px;
    }
  }
}

@media (max-width: 749px) {
  .hero {
    flex-direction: column-reverse;
    padding-bottom: 15px;
    padding-top: 15px;

    &__title {
      text-align: center;
    }

    &-btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &__img {
      width: 70%;
    }
  }

  .link-sign-in {
    text-align: center;
  }
}